<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PSVita Minecraft Resource Pack Converter</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>PSVita Minecraft</h2>
            <h4>Resource Pack Converter</h4>
            <img class="logo" src="img/psvita.gif" alt="">
            <h4>v2.1</h4>
            <p>Upload a modern resource pack to receive a PSVita Minecraft v1.84+ compatible texture pack.</p>
            <p>Requires a modded PSVita with the rePatch plugin.</p>
            <p>Extract zip in ux0:/rePatch</p>
            <br/>
            <div>
              <div>Optional: Not all texture conversions are implemented. To support fallback (legal reasons), upload the decrypted texture pack files <b>terrain.png</b> and <b>items.png</b> from the official game at the same time. (Hold Control to select multiple files).
              <a target="_blank" href="img/how_to_select_multi_files.gif">GIF example</a>
              </div>
              <small>(Possible IDs: PCSE00491, PCSB00560, PCSB00560, VCJS-10010)</small>
              <br />
              <small>(Folder Path: Common/res/TitleUpdate/res)</small>
            </div>
            <br />
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
            <div>
              <input type="checkbox" id="smoothing" name="smoothing" value="smoothing">
              <label for="smoothing"> Enable Smoothing (great for HD textures)</label>
            </div>
            <button class="btn btn-lg upload-btn" type="button">Upload Resource Pack</button>
            <div class=" social col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <a target="_blank" href="https://github.com/darkenvy/PSMRC-Node"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
              <!-- <a target="_blank" href="https://www.reddit.com/r/vitahacks/comments/5j3ssk/release_ps_minecraft_resource_converter_psmrc_v10/"><i class="fa fa-reddit-alien fa-2x" aria-hidden="true"></i></a> -->
              <!-- <a target="_blank" href="https://www.coinbase.com/darkenvy"><i class="fa fa-btc fa-2x" aria-hidden="true"></i></a> -->
              <!-- <a target="_blank" href="http://RenoMcKenzie.com/"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/upload.js"></script>
</body>
</html>